.titulos{
	position: fixed;
	background: #FDBE14;
	width: 100%;
	height: 100px;
	z-index: 1;
}
body{
	overflow-x: hidden;
}
h1{	
	padding-bottom: 3px;
	line-height: 0;
	text-align: center;
}
.logo{
	top: 0;
	left: 30vw;
	position: absolute;
	background: #FDBE14;
	width: 100px;
	height: 95px;
}
.titulos__secundario{
	text-align: center;
}
.instruccion{
	position: absolute;
	top:17%;
	left: 5%;
}
.tituloPrincipal{
	display: flex;
}
.filtros{
	display: flex;
	position: relative;
	width: 100%;
	justify-content: center;
	align-content: center;
	top: 150px;
}
.contador{
	display: flex;
	position: absolute;
	top: 170px;
	left: 30px;
}
.filtros button{
	padding: 5px;
	margin-left: 50px;
	color: #fff;
	border: 1px;
	border-radius: 10px 10px;
}


.enero{
	background-color: #317124
}
.enero:hover{
	color: #000;
	cursor: pointer;
	
}

.febrero{
	background-color: #0084ff
}
.febrero:hover{
	color: #000;
	cursor: pointer;
}


.marzo{
	background-color: #3c3
}
.marzo:hover{
	color: #000;
	cursor: pointer;
}

.abril{
	background-color: #f90
}
.abril:hover{
	color: #000;
	cursor: pointer;
}

.mayo{
	background-color: #f2ab;
}
.mayo:hover{
	color: #000;
	cursor: pointer;
}
.junio{
	background-color: #c42;
}
.junio:hover{
	color: #000;
	cursor: pointer;
}
.vaciar{
	background-color: maroon
}
.vaciar:hover{
	color: #000;
	cursor: pointer;
}


.flex-container{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
	text-align: center;
	top: 170px;
	
}
.flex-containerBI{
	display: none;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
	text-align: center;
	top: 170px;
	
}
.flex-containerBE{
	display: none;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
	text-align: center;
	top: 170px;
	
}
.flex-containerBS{
	display: none;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
	text-align: center;
	top: 170px;
	
}
.flex-containerBGU{
	display: none;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
	text-align: center;
	top: 170px;
	
}
.flex-containerMayo{
	display: none;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
	text-align: center;
	top: 170px;
	
}
.flex-containerJunio{
	display: none;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
	text-align: center;
	top: 170px;
	
}
.flex-item{
	justify-content: center;
	overflow: hidden;
	flex-grow: 1;
	flex-basis: 320px;
	margin: 40px 20px;
	max-width: 310px;
	max-height: 480px;
	border: 2px solid #1114;
	border-radius: 10px;
	padding: 15px;
}
.flex-item:hover{
	
	box-shadow: 0px 0px 5px #000;
}
.flex-item:focus{	
	box-shadow: 0px 0px 15px #000;
}
.flex-itemBI{
	justify-content: center;
	display: none;
	overflow: hidden;
	flex-grow: 1;
	flex-basis: 320px;
	margin: 40px 20px;
	max-width: 300px;
	max-height: 420px;
	border: 2px solid #111;
	padding: 15px;
}

.libros_img{
	display: block;
	margin: auto;
	width: 200px;
	min-height: 270px;
	max-height: 320px;
}

.logoCol{
	position: absolute;
	top: 2.5px;
	height: 95px;
	width: 100px;
}
h2{
	line-height: 0;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 5px;
}
.titulos__secundario{
	position: relative;
}
h3{
	display: inline;
	position: relative;
	padding-top: 20px;
}
p{
	display: inline-block;
	color: #330
}
form{
	position: relative;
	top: 100px;
	width: 100%;
	text-align: center;
	padding: 50px;
}

@keyFrames desplazarse{
	0%{
			position: absolute;
			top: 6px;
			left: 18px;

	}20%{
		left: 6px;
	}
	40%{
		left: -18px;
	}
	60%{
		left: -33px;
	}
	80%{
		left: 6px;
	}
	100%{
		left: 18px;
	}
}
.volver:hover i{
	animation-name: desplazarse;
	animation-iteration-count: infinite;
	animation-duration: 1.5s;
	animation-fill-mode: both;


}

.volver{
	position: absolute;
	top: 100px;
	left: 5px;
}
.boton{
	width: 50px;
	height: 30px;	
	border-radius: 50px;
	background-color: #4d84;
}
.boton:hover{
	transition: 1.5s;
	background-color: #fff ;
}
form{
	position: relative;
	top: 150px;
}
input[type="button"]{
	position: relative;
	background: #317124;
	color: #fff;
	border: none;
	margin-top: 8px;
	padding: 4px 7px;
	font-size: 15px;
	border-radius: 10px;
	letter-spacing: 1px;
}
a input:hover{
	transition: .3s;
	background-color: green;
	border-bottom: 3px solid black;
	color: #fff;
	cursor: pointer ;
}
.botonDes{
	position: fixed;
	top: 520px;
	l
	
}


@media only screen and (max-width: 1200px){
	.logo{
	position: absolute;
	background: #FDBE14;
	width: 100px;
	height: 95px;
	left: 0;
	}
	h1{	
	line-height: 0;
	text-align: center;
	font-size: 2px;
}
	h2{

	line-height: 0;
	text-align: center;
	font-size: 20px;
}
	.filtros{
		top: 30vh;
		height: 24px;
	}
.instruccion{
	position: absolute;
	top:16%;
	left: 8%;
}
}
@media only screen and (max-width: 600px){
	.logo{
	position: absolute;
	background: #FDBE14;
	width: 70px;
	height: 90px;
	left: 0;
	}
.flex-container{
	top: 270px;

}
.instruccion{
	top:25%;
	left: 5%;
}
.titulos__principal{
	text-align: right;
	font-weight: 10;
}
.juan{
	text-align: right;
}
.titulos__secundario{
	line-height: 0;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}
.filtros{
	top: 37vh;
}
.botonDes{
	position: fixed;
	top: 480px;
	l
	
}
.filtros button{
	padding: 2px;
	margin-left: 20px;
	
}
.contador{
	top: 290px;
	left: 30px;
}
.flex-container{
	top: 270px;
}
.flex-containerBI{
	top: 270px;
}
.flex-containerBE{
	top: 270px;
}
.flex-containerBS{
	top: 270px;
}
.flex-containerBGU{
	top: 270px;
}
form a input{
	top: -30px;
	
}
}
.nombre{
	line-height: 1;
}