.titulos{
	position: fixed;
	background: #FDBE14;
	width: 100%;
	height: 100px;
	z-index: 1;
}
body{
	overflow-x: hidden;
}
h1{	
	padding-bottom: 3px;
	line-height: 0;
	text-align: center;
}
.logo{
	top: 0;
	left: 330px;
	position: absolute;
	background: #FDBE14;
	width: 100px;
	height: 95px;
}
.titulos__secundario{
	text-align: center;
}
.instruccion{
	position: absolute;
	top:17%;
	left: 5%;
}
.tituloPrincipal{
	display: flex;
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
	text-align: center;
	top: 120px;
	
}
.flex-item{
	height: 400px;
	justify-content: center;
	flex-grow: 1;
	flex-basis: 300px;
	margin: 40px 20px;
	max-width: 300px;
	max-height: 400px;
	border: 2px solid #111;
	padding: 15px;
}
.flex-item:hover{
	border: 5px solid #fca27e;
	box-shadow: 0px 0px 30px #fdbe14;
}
.flex-item:focus{
	border: 5px solid #fca27e;
	box-shadow: 0px 0px 30px #fdbe14;
}
.libros_img{
	display: block;
	margin: auto;
	width: 200px;
}

h2{
	line-height: 0;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 5px;
}
.titulos__secundario{
	position: relative;
}
h3{
	display: inline;
	position: relative;
	padding-top: 20px;
}
p{
	display: inline-block;
	color: #330
}
form{
	position: relative;
	top: 100px;
	width: 100%;
	text-align: center;
	padding: 50px;
}

.volver{
	position: absolute;
	top: 100px;
	left: 5px;
}
.boton{
	width: 50px;
	height: 30px;
}
input[type="button"]{
	background: #317124;
	color: #fff;
	border: none;
	padding: 12px 28px;
	font-size: 20px;
	letter-spacing: 1px;
}
@media only screen and (max-width: 1200px){
	.logo{
	position: absolute;
	background: #FDBE14;
	width: 100px;
	height: 95px;
	left: 0;
	}
	h1{	
	line-height: 0;
	text-align: center;
	font-size: 2px;
}
	h2{

	line-height: 0;
	text-align: center;
	font-size: 20px;
}
.instruccion{
	position: absolute;
	top:16%;
	left: 8%;
}

}
@media only screen and (max-width: 600px){
	.logo{
	position: absolute;
	background: #FDBE14;
	width: 50px;
	height: 70px;
	top: 30px;
	left: 0;
	}
.flex-container{
	top: 170px;

}
.instruccion{
	top:28%;
	left: 5%;
}
.titulos__secundario{
	line-height: 0;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}
}