.titulos{
	position: fixed;
	background: #FDBE14;
	width: 100%;
	height: 100px;
	z-index: 1;

}
.volver{
	position: absolute;
	top: 100px;
	left: 20px;
}
.boton{
	width: 50px;
	height: 30px;
}
body{
	overflow-x: hidden;
}
h1,h2{	
	line-height: 0;
	text-align: center;
}
h2{
	position: relative;

}
h4{
position: relative;
top: -25%;
display: inline;
text-align: left;
padding: 0;
	}
.nombre{
	line-height: 0;
	text-align: left;
	left: 10px;
	position: relative;
	top: -29%;
	color:  #000078;
}
.inicial{
	position: relative;
	top: -30%;
	left: -25%;
	color: #ff3f3c;
	font-size: 30px;
}
.inicial2{
	position: relative;
	top: -30%;
	left: -25%;
	color: #0c0;
	font-size: 30px;
}
ul{
	position: relative;
	left: 26px;
}
.primeroB{
	position: relative;
	top: -30%;
	left: -25%;
	color: #ffbd00;
	font-size: 30px;
}
.ir{
	position: relative;
	bottom: 2%;
	background: #fff;
	border: 0px;
	color: #0090ff;
}
.flex-container{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
	text-align: center;
	top: 120px;
	
}
.flex-item{
	
	justify-content: center;
	flex-grow: 1;
	flex-basis: 300px;
	margin: 30px 15px;
	max-width: 280px;
	max-height: 400px;
	box-shadow: 0px 0px 7px black;
	padding: 0px;
}
.flex-item:hover{
	border: 3.5px solid #fca27e;
	box-shadow: 0px 0px 30px #fdbe14;
}
.flex-item:focus{
	border: 5px solid #fca27e;
	box-shadow: 0px 0px 30px #fdbe14;
}

.contenido{
	position: relative;
	top: 120px;
	width: 100%;
	height: 400px;
	background:  #FFFF99FF;
}
.logo{
	top: 0;
	left: 330px;
	position: absolute;
	background: #FDBE14;
	width: 100px;
	height: 95px;
}
.canal_img{
	display: block;
	margin: auto;
	width: 280px;
	height: 270px;
	position: relative;
	top: -16%;
	object-fit: contain;
}

