.titulos{
	position: fixed;
	background: #FDBE14;
	width: 100%;
	height: 100px;
	z-index: 1;

}
.volver{
	position: absolute;
	top: 100px;
	left: 20px;
}
.boton{
	width: 50px;
	height: 30px;
}
body{
	overflow-x: hidden;
}
h1,h2{	
	line-height: 0;
	text-align: center;
}
h2{
	position: relative;

}

h4{
position: relative;
display: block;
text-align: left;
padding: 15;

	}

.inicial{
	position: relative;

	color: #ff3f3c;
	font-size: 30px;
	text-align: left;
}
.inicial2{
	position: relative;
	color: #0c0;
	font-size: 30px;
	text-align: left;
}
.primeroB{
	position: relative;
	color: #ffbd00;
	font-size: 30px;
	text-align: left;
}
.nombre{
	position: relative;
	font-size: 30px;
	text-align: left;
	color:  #000078;
}
ul{
	position: relative;
	left: 28px;

}
li{
	position: relative;
	left: 5px;
}

a button.ir{
	position: relative;
	display:inline ;
	background: #fff;
	border: 0px;
	color: #0090ff;
	top: 10%;
}
.ir:hover{
	border: 1px solid black;

}

.flex-container{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	justify-content: center;
	text-align: center;
	top: 120px;
	
}
.flex-item{
	justify-content: flex-start;
	flex-grow: 1;
	flex-basis: 300px;
	overflow: hidden;
	margin: 40px 15px;
	max-width: 300px;
	max-height: 430px;
	box-shadow: 0px 0px 5px black;
	padding: 10px;
	flex-grow: 1;
}
.flex-item:hover{
	border: 2.5px solid #fca27e;
	box-shadow: 0px 0px 20px #fdbe14;
}
.flex-item:focus{
	border: 5px solid #fca27e;
	box-shadow: 0px 0px 30px #fdbe14;
}
.flex-container .flex-item div{
	display: block;
	position: relative;
	background color: blue;
	height: 50px;
	top: 5%;
	
}
.contenido{
	position: relative;
	top: 120px;
	width: 100%;
	height: 400px;
	background:  #FFFF99FF;
}
.logo{
	top: 0;
	left: 330px;
	position: absolute;
	background: #FDBE14;
	width: 100px;
	height: 95px;
}
.logoCol{
	position: absolute;
	top: 2.5px;
	height: 95px;
	width: 100px;
}
.canal_img{
	display: inline-block;
	margin: auto;
	width: 300px;
	height: 150px;
	position: relative;

	object-fit: scale-down;
}

